<template>
  <v-toolbar>
    <v-toolbar-title>Patreon Raffle | An easy way to choose raffle winners!</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <v-btn flat @click.native.stop="dialog = true">Help and Info</v-btn>
    </v-toolbar-items>
    <v-dialog v-model="dialog" scrollable max-width="800px">
      <v-card>
        <v-card-title><h1>Help and Info</h1></v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <h2>Legend</h2>
          <v-card dark class="pa-3 ma-2" color="error" width="200px" style="text-align: center;">
            Not a winner
          </v-card>
          <v-card dark class="pa-3 ma-2" color="success" width="200px" style="text-align: center;">
            🎉 Winner 🎉
          </v-card>
          <v-card light class="pa-3 ma-2" color="amber" width="200px" style="text-align: center;">
            🌟 Bonus winner 🌟
          </v-card>
          <br>
          <v-divider></v-divider>
          <h2>How to use</h2>
          <ol class="ml-3 mb-4">
            <li>Add the list of Patrons you want entered in the raffle to the text box</li>
            <li>Choose the number of normal winners, make sure it's less than the number of patrons you entered!</li>
            <li>If desired, choose the number of additional "bonus winners"</li>
            <li>Hit the big green button to choose the winners!</li>
          </ol>
          <p>The Patron block is wide enough on a desktop to capture over 100 patrons in a screenshot without scrolling, perfect for showing off all the patrons and winners in one go.</p>
          <p>For larger lists, you can hit the 'Winner Only' button to pop up a modal only showing the winners of the raffle. Good to just show off the winners by themselves.</p>
          <p>If you run into any issues, or have any questions, suggestions, concerns, anything at all, email me at <a href="mailto:atoro@furhost.net">atoro@furhost.net</a></p>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="white" flat @click.native="dialog = false">Close</v-btn>
          </v-card-actions>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-toolbar>
</template>

<script>
export default {
  data () {
    return {
      dialog: false
    }
  }
}
</script>
