<template>
  <v-app dark>
    <page-header/>
    <nuxt/>
  </v-app>
</template>

<script>
import PageHeader from '~/components/common/header.vue';
export default {
  components: {
    PageHeader
  }
}
</script>
