<template>
  <v-container fluid>
    <v-card>
      <v-layout row wrap>
        <v-flex xs12 md6 lg4 mx-3>
          <v-text-field
            name="patrons"
            label="Patrons (one per line)"
            multi-line
            v-model="patrons"
            required
          ></v-text-field>
        </v-flex>
        <v-flex xs12 md2 lg1 mx-3 style="align-self:flex-end;">
          <v-select
            :items="[1,2,3,4,5,6,7,8,9,10]"
            v-model="numberWinners"
            single-line
            hint="Number of Winners"
            persistent-hint
            required
          ></v-select>
        </v-flex>
        <v-flex xs12 md2 lg1 mx-3 style="align-self:flex-end;">
          <v-select
            :items="[1,2,3,4,5,6,7,8,9,10]"
            v-model="numberBonusWinners"
            single-line
            hint="Bonus Winners (optional)"
            persistent-hint
            clearable
          ></v-select>
        </v-flex>
        <v-spacer></v-spacer>
        <v-btn color="error" dark @click="clearEverything" style="align-self:flex-end">Clear</v-btn>
        <v-btn color="success" dark @click="chooseWinners" style="align-self:flex-end">Choose Winners</v-btn>
      </v-layout>
    </v-card>
    <v-card class="mt-3 pa-3">
      <h1 v-show="empty">Enter your list of Patrons above to get started!</h1>
      <v-layout row wrap>
        <v-flex xs12 sm6 md4 lg2 v-for="patron in patronList" :key="patron.name">
          <v-card :color="patron.color" class="pa-2 ma-1 text-xs-center" :class="patron.theme">
            {{ patron.name }}
          </v-card>
        </v-flex>
      </v-layout>
    </v-card>
    <v-footer absolute dark class="pa-3 mt-3" style="height:auto;">
      <v-dialog v-model="dialog">
        <v-btn color="info" slot="activator" v-show="!empty">Show Winners Only</v-btn>
        <v-card class="pa-3">
          <v-card-title style="justify-content:center;"><h1>WINNERS</h1></v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 sm6 md4 lg2 v-for="i in winners" :key="patronList[i].name">
                <v-card :color="patronList[i].color" class="pa-2 ma-1 text-xs-center" :class="patronList[i].theme">
                  {{ patronList[i].name }}
                </v-card>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="success" flat @click.native="dialog = false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-spacer></v-spacer>
      <div>&copy; {{ new Date().getFullYear() }} Atoro Desu - <a href="mailto:atoro@furhost.net">atoro@furhost.net</a> - Hosted by <a href="https://furhost.net">FurHost</a></div>
    </v-footer>
    <v-snackbar
      timeout=6000
      color="error"
      v-model="snackbar"
    >
      Too many winners! Make sure you have more patrons than winners
    </v-snackbar>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      numberWinners: 0,
      numberBonusWinners: 0,
      patrons: "",
      patronList: [],
      winners: [],
      empty: true,
      snackbar: false,
      dialog: false
    }
  },

  methods: {
    clearEverything() {
      this.numberWinners = 0,
      this.numberBonusWinners = 0,
      this.patrons = "",
      this.patronList = [],
      this.winners = [],
      this.empty = true
    },
    chooseWinners() {
      this.patronList = [],
      this.winners = [],
      this.empty = false,
      this.patrons.split("\n").forEach( (patron) => {
        if (patron != "") {
          this.patronList.push({
            name: patron,
            color: "error"
          })
        }
      })
      var w1 = this.numberWinners
      var w2 = this.numberBonusWinners
      var wtotal = w1 + w2
      if (w1 >= this.patronList.length || wtotal >= this.patronList.length) {
        this.snackbar = true
      } else {
        while (w1 > 0) {
          let wnum = Math.floor(Math.random()*this.patronList.length)
          if (this.winners.includes(wnum)) {
          } else {
            this.winners.push(wnum)
            this.patronList[wnum].name = "🎉 " + this.patronList[wnum].name + " 🎉"
            this.patronList[wnum].color = "success"
            this.patronList[wnum].theme = "theme--dark"
            w1--
          }
        }
        while (w2 > 0) {
          let wnum = Math.floor(Math.random()*this.patronList.length)
          if (this.winners.includes(wnum)) {
          } else {
            this.winners.push(wnum)
              this.patronList[wnum].name = "🌟 " + this.patronList[wnum].name + " 🌟"
              this.patronList[wnum].color = "amber"
              this.patronList[wnum].theme = "theme--light"
            w2--
          }
        }
      }
    }
  }
}
</script>
